# Dependencies
node_modules/
home_services_backend/node_modules/
home_services_frontend/node_modules/

# Env files
.env
home_services_backend/.env
home_services_frontend/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
out/
build/

# Misc
.DS_Store
TODO.md
